@model RedditPlaylistCreator.ViewModels.Home.YouTubeVideosViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4 playlist-bar">
        <ul>
            @foreach (var video in Model.YouTubeVideoIds)
            {
                <li>@(video)</li>
            }
        </ul>
    </div>
    <div class="col-md-8">
        <div id="YouTubePlayer">
        </div>
    </div>
</div>

@section scripts {
    <script src="http://www.youtube.com/iframe_api"></script>

    <script>
        function onYouTubeIframeAPIReady() {
            var player = YouTubePlayer(YT);
            player.init("YouTubePlayer", @(Model.JsonIds));
        }
    </script>
}